<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="login-container">
    <h2>INICIO DE SESION</h2>
    <br><br>
    <form>
      <div class="form-group">
        <label for="username">USUARIO</label><br>
        <input type="text" id="username" name="username" placeholder="Enter your username" ><br>
      </div>
      <br><div class="form-group">
        <label for="password">CONTRASEÑA</label><br>
        <input type="password" id="password" name="password" placeholder="Enter your password">
      </div>
      <br><br>
      <button type="submit">ENTRAR</button>
    </form>
  </div>